<!-- Header Link -->
{% include "elements/header-link.twig" %}
<!-- Header Start -->
{% include "elements/header.twig" %}
<!-- Header End -->
    
    <div class="h-screen flex items-center justify-center">
        <h2 class="font-semibold text-5xl text-blue-700">Tailwind with Gulp Short Code testing</h2>
    </div>

<!-- footer -->
{% include "elements/footer.twig"%}
<!-- Footer script-->
{% include "elements/footer-script.twig" %}