<!-- Header Link -->
<!DOCTYPE html>
<html lang="en" class="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Le Burger Week</title>
    <link rel="icon" href="./assets/img/favicon.png" type="image/gif" sizes="18x18">
    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <!-- Moni -->
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="./assets/css/style.css">
</head>
<body class="bg-[#411f1f]">
    <!-- Header Start -->
    <header class="bg-secondary">
        <div class="container">
            <div class="flex items-center justify-between gap-5 relative py-4 sm:py-[10px]">
                <a href="#" class="flex items-center gap-[10px]">
                    <img class="w-16 sm:w-auto" src="./assets/img/logo.svg" alt="logo">
                    <span class="hidden md:block text-2xl font-bold text-white leading-none">Le Burger Week</span>
                </a>
                <div class="flex items-center gap-5 sm:gap-8 lg:gap-11">
                    <menu class="absolute sm:static w-full sm:w-auto top-full left-0 bg-white sm:bg-transparent p-10 sm:p-0 rounded-xl sm:rounded-none main-menu">
                        <ul class="flex items-center gap-6 sm:gap-8 lg:gap-11 text-secondary sm:text-white text-xl font-semibold text-center flex-col sm:flex-row">
                            <li><a class="leading-none duration-300 hover:text-primary" href="#">FAQ</a></li>
                            <li><a class="leading-none duration-300 hover:text-primary" href="#">Log in</a></li>
                            <li><a class="leading-none duration-300 hover:text-primary" href="#">Español</a></li>
                        </ul>
                    </menu>
                    <a href="#" class="py-3 sm:py-[15px] px-5 font-semibold text-base sm:text-lg !leading-none text-primary border-2 border-white rounded-lg inline-block duration-300 hover:bg-white hover:text-secondary">Sign up</a>
                    <button class="hamburger sm:hidden">
                        <span class="hamburger-line"></span>
                        <span class="hamburger-line"></span>
                        <span class="hamburger-line"></span>
                    </button>
                </div>
            </div>
        </div>
    </header>
    <!-- Header End -->
    
    <!-- Banner Start -->
    <section class="bg-secondary pt-10">
        <div class="container">
            <div class="flex items-center justify-between gap-12 flex-col-reverse md:flex-row">
                <div class="max-w-[650px] w-full">
                    <img src="./assets/img/banner-thumb.png" alt="banner thumb">
                </div>
                <div class="max-w-[500px] w-full md:py-6 text-center md:text-left">
                    <div class="flex items-center gap-4 sm:gap-[22px] flex-col md:flex-row">
                        <img src="./assets/img/heinz-selection-logo.svg" alt="heinz-selection-logo">
                        <h1 class="text-[36px] sm:text-[44px] lg:text-[64px] font-bold !leading-none text-[#ffe8c9]">Heinz Selection</h1>
                    </div>
                    <p class="text-lg sm:text-xl lg:text-2xl font-semibold sm:font-bold text-[#ffe8c9] mt-4 sm:mt-[22px] leading-normal">Este 2024, Heinz Selection será patrocinador de la primer Le Burger Week en Ciudad de México</p>
                </div>
            </div>
        </div>
    </section>
    <!-- Banner End -->

    <!-- Section Start -->
    <section class="py-[60px]">
        <div class="container">
            <div class="flex flex-col gap-5">
                <!-- QUE es Heinz -->
                <div class="flex bg-[#a6192e] rounded-2xl sm:rounded-[30px] overflow-hidden flex-col md:flex-row">
                    <div class="px-5 py-8 sm:p-10 md:py-20 md:px-[45px] flex-1">
                        <h2 class="text-[34px] sm:text-[42px] lg:text-[50px] !leading-tight text-[#faa21e] font-ibmplexMono font-bold">¿Qué es Heinz Selection?</h2>
                        <p class="text-base sm:text-lg md:text-xl text-[#fffbf4eb] mt-[18px] sm:mt-[22px] font-medium">Heinz Selection es un programa de Heinz a nivel global diseñado para acercar a la marca de salsas más querida, a las mejores hamburgueserías independientes.</p>
                        <p class="text-base sm:text-lg md:text-xl text-[#fffbf4eb] font-medium mt-4 sm:mt-5">En esta colaboración buscamos dar a conocer el programa HS, ya que este permite generar los mejores momentos de consumo, elevando el estándar de lo delicioso y fortaleciendo la relación entre nuestros condimentos y la deliciosa experiencia de comer las mejores hamburguesas.</p>

                    </div>
                    <div class="md:max-w-[270px] lg:max-w-[396px] w-full relative">
                        <img class="w-full h-full rounded-xl object-cover" src="./assets/img/burger-bg.png" alt="burger">
                        <img class="absolute top-1/2 transform -translate-y-1/2 w-[90%] right-0" src="./assets/img/burger.png" alt="burger">
                    </div>
                </div>

                <!-- Visibilidad -->
                <div class="flex bg-[#ab7029] rounded-2xl sm:rounded-[30px] overflow-hidden flex-col md:flex-row">
                    <div class="md:max-w-[270px] lg:max-w-[396px] w-full flex justify-center items-start">
                        <img class="md:max-w-[211px] max-h-[299px]" src="./assets/img/spiderburger-side.png" alt="spiderburger">
                    </div>
                    <div class="px-5 py-8 sm:p-10 md:py-[45px] md:px-[45px] flex-1">
                        <h2 class="text-[34px] sm:text-[42px] lg:text-[50px] !leading-tight text-white font-ibmplexMono font-bold">Visibilidad de marca</h2>
                        <p class="text-base sm:text-lg md:text-xl text-[#ffe8c9] mt-[18px] sm:mt-[22px] font-medium">Heinz Selection ayuda a los restaurantes a aumentar su visibilidad de marca, atraer clientes y liderar con calidad e innovación.</p>
                        <p class="text-base sm:text-lg md:text-xl text-[#ffe8c9] font-medium mt-4 sm:mt-5">Con presencia en más de 22 países, queremos aprovechar la oportunidad con Burger Week para que si tu como hamburguesería quieres conocer más sobre el programa nos contactes.</p>
                        <p class="text-base sm:text-lg md:text-xl text-[#ffe8c9] font-medium mt-4 sm:mt-5">Tu restaurante no solo contará con un distintivo que hoy, más de 120 sucursales tienen.</p>

                    </div>
                </div>

                <!-- Requiere -->
                <div class="grid lg:grid-cols-2 gap-5">
                    <div class="bg-[#592b2b] rounded-2xl sm:rounded-[30px] overflow-hidden flex flex-col justify-between">
                        <div class="py-8 px-5 sm:p-10 lg:p-11">
                            <img class="max-w-[308px] w-full" src="./assets/img/participants.png" alt="participants">
                            <h2 class="text-[34px] sm:text-[42px] lg:text-[50px] !leading-tight text-[#faa21e] font-ibmplexMono font-bold mt-5 md:mt-10">¿Qué se requiere?</h2>
                            <ul class="mt-5 text-lg sm:text-xl font-medium text-[#fcf5eb] list-disc pl-5">
                                <li>Ser actualmente un cliente Heinz</li>
                                <li>Que tu hamburguesería cuente con buen rating en Google (4.6) y/ o en Tripadvisor</li>
                                <li>Que tu principal platillo sea la hamburgesa</li>
                                <li>Ser amado por los comensales (buena presencia en redes sociales)</li>
                                <li>Ser Afines a la marca (acogedor, seguridad, e ingenioso)</li>
                            </ul>
                        </div>
                        <img class="w-full" src="./assets/img/burger-2.png" alt="burger">
                    </div>

                    <div class="bg-[#ffe8c9] rounded-2xl sm:rounded-[30px] overflow-hidden flex flex-col justify-between">
                        <div class="py-8 px-5 sm:p-10 lg:p-11">
                            <h2 class="text-[32px] !leading-tight text-[#411f1f] font-ibmplexMono font-bold">¿Qué beneficios recibes?</h2>
                            <ul class="mt-5 text-lg sm:text-xl font-medium text-[#411f1f] list-disc pl-5">
                                <li>Descuentos en nuestros productos</li>
                                <li>4 activaciones en el año en fechas importantes como (Super Bowl, Día de la Madre, Día de la Hamburguesa, Día de la papá)</li>
                            </ul>
                            <h2 class="text-[32px] !leading-tight text-[#411f1f] font-ibmplexMono font-bold mt-5">Material POP</h2>
                            <ul class="mt-5 text-lg sm:text-xl font-medium text-[#411f1f] list-disc pl-5">
                                <li>Uniformes</li>
                                <li>Sombrillas (Si aplica) y mucho más</li>
                                <li>Contáctenos para obtener más información</li>
                            </ul>
                            <div class="flex gap-5 mt-5 flex-wrap">
                                <a href="#" class="py-3 sm:py-[15px] px-5 font-medium text-base sm:text-lg !leading-tight text-[#411f1f] border-2 border-[#411f1f] rounded-lg duration-300 hover:bg-primary flex items-center gap-3">
                                    <img src="./assets/img/Email.svg" alt="email">
                                    Email
                                </a>
                                <a href="#" class="py-3 sm:py-[15px] px-5 font-medium text-base sm:text-lg !leading-tight text-[#411f1f] border-2 border-[#411f1f] rounded-lg duration-300 hover:bg-primary flex items-center gap-3">
                                    <img src="./assets/img/Insta.svg" alt="Insta">
                                    Síguenos en Instagram
                                </a>
                            </div>
                        </div>
                        <img class="w-full" src="./assets/img/Bird.png" alt="burger">
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- Section End -->

    <!-- Footer Start -->
    <footer class="py-[60px] sm:py-20 lg:py-[100px] bg-secondary">
        <div class="pb-[70px] sm:pb-20 md:pb-[100px] lg:pb-[150px] overflow-hidden">
            <div class="container relative z-[1]">
                <img class="hidden sm:block absolute -z-[1] top-0 left-0 md:-left-14 w-[32%]" src="./assets/img/burger-with-dog.png" alt="burger">
                <img class="hidden sm:block absolute -z-[1] bottom-0 -right-10 w-[32%]" src="./assets/img/burger-with-Bird.png" alt="burger">
                <div class="text-center max-w-[470px] mx-auto">
                    <p class="text-[#FAA21E] text-xl sm:text-2xl lg:text-[32px] font-semibold font-ibmplexMono flex items-center gap-3 justify-center">15-22 de noviembre <img src="./../assets/img/flug.png" alt="flug"></p>
                    <h3 class="text-[36px] sm:text-[44px] lg:text-[64px] font-bold !leading-none text-[#ffe8c9] mt-4">¡Únete a la <br> Fiesta de la <br>Hamburguesa!</h3>
                    <p class="text-[#ffe8c9] text-lg md:text-xl font-medium py-5">El festival de hamburguesas más grande de la Ciudad de México -  ya esta aquí, ¡No te lo pierdas!</p>
                    <a href="#" class="py-4 sm:py-5 px-12 sm:px-[100px] font-semibold text-lg sm:text-xl lg:text-2xl !leading-none text-primary border-2 border-white rounded-xl inline-block duration-300 hover:bg-white hover:text-secondary">Regístrate</a>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="">
                <div class="flex sm:items-center md:items-start gap-10 justify-between flex-col md:flex-row">
                    <div class="max-w-[150px] w-full">
                        <img src="./assets/img/footer-logo.svg" alt="logo">
                    </div>
                    <div class="max-w-[942px] w-full grid grid-cols-1 sm:flex items-start justify-between gap-10">
                        <div class="">
                            <h4 class="text-xl md:text-2xl font-bold !leading-snug text-[#FAA21E] sm:max-w-[120px]">Nuestros Festivales</h4>
                            <ul class="text-base md:text-lg font-semibold text-white mt-5 inline-flex flex-col gap-3">
                                <li><a href="#">La Poutine Week</a></li>
                                <li><a href="#">La Pizza Week</a></li>
                            </ul>
                        </div>
                        <div class="">
                            <h4 class="text-xl md:text-2xl font-bold !leading-snug text-[#FAA21E]">Enlaces</h4>
                            <ul class="text-base md:text-lg font-semibold text-white mt-5 inline-flex flex-col gap-3">
                                <li><a href="#">Patrocinio</a></li>
                                <li><a href="#">Términos y privacidad</a></li>
                                <li><a href="#">Privacidad</a></li>
                                <li><a href="#">English</a></li>
                            </ul>
                        </div>
                        <div class="">
                            <h4 class="text-xl md:text-2xl font-bold !leading-snug text-[#FAA21E]">Restaurantes</h4>
                            <ul class="text-base md:text-lg font-semibold text-white mt-5 inline-flex flex-col gap-3">
                                <li><a href="#">Iniciar sesión</a></li>
                                <li><a href="#">Regístrate</a></li>
                                <li><a href="#">Preguntas frecuentes</a></li>
                                <li><a href="#">Envíanos un correo</a></li>
                            </ul>
                        </div>
                        <div class="">
                            <h4 class="text-xl md:text-2xl font-bold !leading-snug text-[#FAA21E]">Redes sociales</h4>
                            <ul class="text-base md:text-lg font-semibold text-white mt-5 inline-flex flex-col gap-3">
                                <li><a href="#" class="flex items-center gap-2">
                                    <img src="./assets/img/footer-insta.png" alt="insta">
                                    Instagram
                                </a></li>
                                <li><a href="#" class="flex items-center gap-2">
                                    <img src="./assets/img/footer-email.png" alt="Mail">
                                    Envíanos un correo
                                </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex items-center sm:items-end justify-between gap-4 sm:gap-5 mt-12 lg:mt-[30px] flex-col sm:flex-row text-center sm:text-left">
                <p class="text-[#A9AE38] text-sm leading-tight">© 2024 Le Burger Week • People Mover Technologies Inc.</p>
                <img class="w-[120px] lg:w-auto order-last sm:order-none" src="./assets/img/footer-shape.png" alt="footer-shape">
                <p class="text-[#A9AE38] text-sm leading-tight">Ilustraciones y diseño visual por Loogart.</p>
            </div>
        </div>
    </footer>
    <!-- Footer End -->

    <script src="./assets/js/main.js"></script>
    </body>
</html>